name: Publish

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
      - name: Setup Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: 22.x
          cache: pnpm
          registry-url: https://registry.npmjs.org
      - name: Install deps
        run: pnpm install
      - name: Build
        run: pnpm -r build
      - name: publish
        run: pnpm -r publish --access=public --tag latest
        env:
          NODE_AUTH_TOKEN: ${{ secrets.POLKAHUB_PUBLISH_AUTOMATION_TOKEN }}
